BasedOnStyle: Microsoft
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: "true"
AlignConsecutiveAssignments: "true"
AlignConsecutiveDeclarations: "true"
AlignEscapedNewlines: Right
AlignOperands: "true"
AlignTrailingComments: "true"
AllowAllArgumentsOnNextLine: "true"
AllowAllParametersOfDeclarationOnNextLine: "false"
AllowShortCaseLabelsOnASingleLine: "false"
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: "true"
AlwaysBreakBeforeMultilineStrings: "false"
AlwaysBreakTemplateDeclarations: MultiLine
BinPackArguments: "true"
BinPackParameters: "true"
BreakAfterJavaFieldAnnotations: "true"
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: "true"
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
CompactNamespaces: "false"
Cpp11BracedListStyle: "false"
DerivePointerAlignment: "true"
ExperimentalAutoDetectBinPacking: "true"
FixNamespaceComments: "true"
IncludeBlocks: Preserve
IndentCaseLabels: "true"
IndentPPDirectives: None
IndentWidth: "4"
IndentWrappedFunctionNames: "false"
JavaScriptQuotes: Double
JavaScriptWrapImports: "true"
KeepEmptyLinesAtTheStartOfBlocks: "false"
Language: Cpp
NamespaceIndentation: All
ObjCBinPackProtocolList: Auto
PointerAlignment: Right
ReflowComments: "true"
SortIncludes: "false"
SortUsingDeclarations: "true"
SpaceAfterCStyleCast: "true"
SpaceAfterLogicalNot: "false"
SpaceAfterTemplateKeyword: "false"
SpaceBeforeAssignmentOperators: "true"
SpaceBeforeCpp11BracedList: "false"
SpaceBeforeCtorInitializerColon: "true"
SpaceBeforeInheritanceColon: "true"
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: "true"
SpaceInEmptyParentheses: "true"
SpacesInAngles: "false"
SpacesInCStyleCastParentheses: "true"
SpacesInContainerLiterals: "true"
SpacesInParentheses: "true"
SpacesInSquareBrackets: "true"
TabWidth: "4"